<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="app.css"/>
</head>
<body ng-app="MyApp" layout="column" ng-controller="UserController as ul">


<md-toolbar>
        <h1>Angular Material Design</h1>
    </md-toolbar>

<div class="container" layout="row" flex>
<md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
    <md-list>
        <md-List-item ng-repeat="u in ul.users">
           <md-button ng-click="ul.selectUser(u)">
            <md-icon md-svg-src="{{u.avatar}}" class="avatar">  </md-icon>
               {{u.name}}
           </md-button>
        </md-List-item>
    </md-list>
</md-sidenav>
<md-content id="content" flex>
    <md-icon md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
    <h2>{{ul.seleted.name}}</h2>
    <p>
        {{ul.selected.content}}
    </p>
</md-content>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="Users.js"></script>
<script src="UserService.js"></script>
<script src="UserController.js"></script>
<script>
    angular.module('MyApp',['users']).run(function () {
        console.log("Myapp is ready!");

    });
</script>
    <a href="https://icons8.com/web-app/36840/Parrot">for more icons</a>
    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>
</html>